@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */

/*----------GLOBAL CSS----------*/



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

label,
input[type=button],
input[type=submit],
button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}



/*----------PSUDO CLASSES----------*/



:root {
	--primary-color: #6FFFE9;
	--primary-color-hover: #81fffd;

	--primary-dark-alpha: #212529;
	--primary-dark-beta: #343A40;
	--primary-dark-gamma: #495057;
	--primary-dark-delta: #6C757D;

	--primary-light-epsilon: #ADB5BD;
	--primary-light-delta: #CED4DA;
	--primary-light-gamma: #DEE2E6;
	--primary-light-beta: #E9ECEF;
	--primary-light-alpha: #F8F9FA;

	--white-color: #fff;
	--black-color: #000;
}



/*----------UTILITY CLASSES----------*/



.container {
	max-width: 480px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

@media (min-width: 600px) {
	.container {
		max-width: 1200px;
	}
}

.flex_regular {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


/*----------ID'S CLASSES----------*/



main {
	background-color: var(--primary-dark-alpha);
	min-height: 100vh;
}